*.d
*.o
*.elf
*.hex
*.map
*.bin
*.pyc
fontwidth
rgbtobgr565
src/opendps/gfx/bgr565/*
protocol_test
build/
firmware/
html/
.gdb_history
.DS_Store
xcuserdata/
emu/dpsemu
emu/dpsemu.exe
esp8266-proxy/private_ssid_config.h
.*.swp
.*.swo
